.calendar__name-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.calendar__btn-filter {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.calendar__filter-name {
    margin: 0 25px 0px 0;
}

.calendar__fiter-svg {
    display: block;
}

.calendar__content .pagination {
    display: flex;
    bottom: auto !important;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;
}

.calendar__content .pagination .swiper-pagination-bullet{
    display: inline;
    opacity: 1;
    cursor: pointer;
    width: auto;
    background: none;
    height: auto;
    font-size: 15px;
    margin: 0 12px !important;
    transition: background .2s linear;
}

.calendar__content .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 25px;
    padding: 10px;
    background: var(--color-dark-light);
    color: var(--color-blue);
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
}

.calendar__btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    background: transparent;
    transition: background .2s ease-in-out;
}

.calendar__btn:hover {
    background: var(--color-dark-light);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.calendar__btn-svg {
    display: block;
    width: 30px;
    height: 30px;
}

.calendar__btn.swiper-button-disabled {
    opacity: 0.25;
}

.calendar__slider {
    position: relative;
}

.calendar__btn.calendar__btn-prev {
    left: -60px;
}

.calendar__btn.calendar__btn-next {
    right: -60px;
}

.calendar__cellб
.calendar__head {
    font-family: var(--font-rubik);
}

.calendar__day-week {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.calendar__day-week .calendar__cell{
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.calendar__item table {
	border-collapse: separate;
	width: 100%;
}

.calendar__day.event>.calendar__cell{
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    color: var(--color-blue);
    position: relative;
    cursor: pointer;
}

.calendar__day {
    text-align: center;
}

.calendar__day>.calendar__cell {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 10px;
    padding: 2px 4px;
}

.calendar__day.lastMonth,
.calendar__day.nextMonth {
    opacity: 0.25;
}

.calendar__item {
    background: var(--color-dark);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
    padding: 24px;
}
.calendar__head {
    font-size: 25px;
    margin-bottom: 17px;
    text-align: center;
}

.calendar__item tr th:nth-child(6) span, .calendar__item tr th:nth-child(7) span,
.calendar__item tr td:nth-child(6) span, .calendar__item tr td:nth-child(7) span  {
	color: #0799EB;
}

.calendar-day.last {
	color: #999 !important;
}

/* Попап события старт  */


.calendar__event-popup {
    display: none;
}

.calendar__popup-wrapp {

    backdrop-filter: blur(55px);
    background: rgba(31, 31, 31, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

    border-radius: 10px;

    width: 555px;
    margin: 20px auto;
}

.calendar__popup-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
}

.calendar__popup-item:not(:last-child) {
    margin: 0 0 25px;
}

.calendar__popup-title {
    font-size: 25px;
    text-align: center;
    color: #0799EB;
    margin: 0 0 25px;
    font-weight: 300;
}

.calendar__popup-text {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding: 0 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin-bottom: 20px;
    text-align: left;
}

.calendar__popup-bot {
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    width: 360px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.calendar__popup-bot p {
    margin: 0;
}

.calendar__popup-link-wrapp {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
}

.calendar__popup-link {
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    font-weight: 300;
}

/* Попап события стоп */



/* Фильтр попап старт */
.filter-popup {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    z-index: 1000;
    display: none;
}

.filter-popup__wrapp {
    background: #2F2F2F;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 18px 25px 31px;
}

.filter-popup__clear {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.filter-popup__clear {
    color: #fff;
}

.filter-popup__clear p {
    margin-right: 15px;
}

.filter-popup__clear img {
    margin-left: 10px;
}

.filter-popup__content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 50px;

}

.filter-popup__content>div:not(:last-child) {
    margin-right: 60px;
}

.filter-popup__input:not(:last-child) {
    margin-bottom: 30px;
}

.filter-popup__input {
    cursor: pointer;
}

.filter-popup__input label {
    font-size: 16px;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.filter-popup__input input {
    position: absolute;
    z-index: -1;
  opacity: 0;

}

.filter-popup__input input+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    border: rgba(141, 141, 141, 0.1);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px auto;
    background-color: #8D8D8D;
}


.filter-popup__input input:checked+label::before {
  border-color: #0799EB;
  background-color: #0799EB;
  background-image: url("assets/img/check.png");
}

.filter-popup__btn {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    width: 288px;
    text-decoration: none;
    background: #0799EB;
    height: 55px;
    margin: 0 auto;
}

/* Фильтр попап стоп */