.calendar__name-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    @include mobile-block {
        flex-direction: column;
        align-items: flex-start;
    }
}

.calendar__btn-filter {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include mobile(margin-top, 25px);
}

.calendar__filter-name {
    margin: 0 25px 0px 0;
}

.calendar__fiter-svg {
    display: block;
}

.calendar__content .pagination {
    display: flex;
    bottom: auto !important;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;
    @include mobile-block {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}

.calendar__content .pagination .swiper-pagination-bullet{
    display: inline;
    opacity: 1;
    cursor: pointer;
    width: auto;
    background: none;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 12px !important;
    transition: background .2s linear;
    @include mobile-block {
        margin: 10px 12px !important;
        font-size: 16px;
    }
}

.calendar__content .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 25px;
    background: var(--color-dark-light);
    color: var(--color-blue);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    @include mobile(font-size, 16px);
}

.calendar__arrows {
    @include large-block {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 15px;
    }
}

.calendar__btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    background: transparent;
    transition: background .2s ease-in-out;
    z-index: 1199;
    @include large-block {
        position: static;
        transform: none;
        top: auto;
        right: auto;
        left: auto;
    }
}

.calendar__btn:hover {
    background: var(--color-dark-light);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    @include large-block {
        background: transparent;
        box-shadow: none;
    }
}

.calendar__btn-svg {
    display: block;
    width: 30px;
    height: 30px;
}

.calendar__btn.swiper-button-disabled {
    opacity: 0.25;
}

.calendar__slider {
    position: relative;
}

.calendar__btn.calendar__btn-prev {
    left: -60px;
    @include large(margin-right, 10px);
}

.calendar__btn.calendar__btn-next {
    right: -60px;
    @include large(margin-left, 10px);
}

.calendar__cellб
.calendar__head {
    font-family: var(--font-rubik);
}

.calendar__day-week {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.calendar__day-week .calendar__cell{
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.calendar__item .calendar__table {
	border-collapse: separate;
	width: 100%;
    border-spacing: 0px 10px;
}

.calendar__day.event>.calendar__cell{
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    color: var(--color-blue);
    position: relative;
    cursor: pointer;
}

.calendar__day {
    text-align: center;
}

.calendar__day>.calendar__cell {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 10px;
    padding: 2px 4px;
}

.calendar__day.lastMonth,
.calendar__day.nextMonth {
    opacity: 0.25;
}

.calendar__item {
    background: var(--color-dark-light);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
    padding: 24px;
    @include tablet(padding, 24px 15px);
}
.calendar__head {
    font-size: 25px;
    margin-bottom: 17px;
    text-align: center;
}

.calendar__item tr th:nth-child(6) span, .calendar__item tr th:nth-child(7) span,
.calendar__item tr td:nth-child(6) span, .calendar__item tr td:nth-child(7) span  {
	color: var(--color-blue);
}

.calendar-day.last {
	color: #999 !important;
}

.calendar__event-popup {
    display: none;
}

.calendar__popup-wrapp {
    backdrop-filter: blur(55px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    max-width: 555px;
    margin: 20px auto;
}

.calendar__popup-cross {
    position: absolute;
    right: 10px;
    top: 10px;
}

.calendar__popup-close {
    display: block;
    width: 16px;
    height: 16px;
}

.calendar__popup-close:hover {
    cursor: pointer;
}

.calendar__popup-list {
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
}

.calendar__popup-item:not(:last-child) {
    margin: 0 0 25px;
}

.calendar__popup-title {
    font-size: 25px;
    margin: 0 0 25px;
}

.calendar__popup-text {
    padding: 0 0 20px;
    border-bottom: 1px solid var(--color-white-low-35);
    margin-bottom: 20px;
}

.calendar__popup-bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.calendar__popup-location {
    margin-right: 20px;
}

.calendar__popup-link-wrapp {
    display: flex;
    justify-content: flex-end;
}

.calendar__popup-link {
    text-decoration: none;
}