/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark-light {
        background-color: var(--color-dark-light);
    }
    &--dark {
        background-color: var(--color-dark);
    }
    &--dark-low {
        background-color: var(--color-dark-low);
    }
    &--black {
        background-color: var(--color-black);
    }
    &--black-hight {
        background-color: var(--color-black-hight);
    }
    &--black-low {
        background-color: var(--color-black-low);
    }
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-blue-low);
}

/* Block Padding */
.block-padding {
    padding: 77px 0 78px;
}

/* Title */

.title {
    font-family: var(--font-myriad);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 45px 75px;
        font-range: 320px 1200px;
    }
    &--large {
        font-size: responsive 25px 45px;
        font-range: 320px 1200px;
    }
    &--medium {
        font-size: responsive 20px 25px;
        font-range: 320px 1200px;
    }
    &--medium {
        font-size: responsive 18px 22px;
        font-range: 320px 1200px;
    }
    &--small {
        font-size: 16px;
    }
    &--white {
        color: var(--color-white);
	}
    &--white-low-75 {
        color: var(--color-white-low-75);
	}
    &--white-low-65 {
        color: var(--color-white-low-65);
	}
    &--white-low-50 {
        color: var(--color-white-low-50);
	}
    &--white {
        color: var(--color-white);
	}
    &--w-regular {
		font-weight: 400;
	}
    &--w-semibold {
		font-weight: 600;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 45px 0;
}

/* Text */

.text {
    font-family: var(--font-rubik);
    font-style: normal;
    margin: 0;
	&--white {
		color: var(--color-white);
	}
    &--white-low-75 {
        color: var(--color-white-low-75);
	}
	&--very-big {
        font-size: responsive 22px 25px;
        font-range: 320px 1200px;
	}
	&--big {
        font-size: responsive 20px 22px;
        font-range: 320px 1200px;
	}
	&--large {
        font-size: responsive 18px 20px;
        font-range: 320px 1200px;
	}
	&--normal {
        font-size: responsive 16px 18px;
        font-range: 320px 1200px;
	}
	&--small {
		font-size: 14px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-bold {
		font-weight: bold;
	}
    &--uppercase {
		text-transform: uppercase;
	}
}