@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
	url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot');
	src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
	url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
	url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
	src: url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
	url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
	url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik/Rubik-Light.eot');
	src: url('../fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'),
	url('../fonts/Rubik/Rubik-Light.woff') format('woff'),
	url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
    font-style: normal;
    font-display: swap;
}