:root {
    --color-blue: #0799EB;
    --color-blue-low-75: rgba(7, 153, 235, 0.75);
    --color-blue-low-65: rgba(7, 153, 235, 0.65);;
    --color-blue-low-50: rgba(7, 153, 235, 0.5);
    --color-dark: #1F1F1F;
    --color-dark-light: #2F2F2F;
    --color-black: #1C1C1C;
    --color-black-hight: #121212;
    --color-black-low: #252525;
    --color-dark-low: #505050;
	--color-white: #FFFFFF;
	--color-white-low-75: rgba(255, 255, 255, 0.75);
	--color-white-low-65: rgba(255, 255, 255, 0.65);
	--color-white-low-45: rgba(255, 255, 255, 0.45);
	--color-white-low-35: rgba(255, 255, 255, 0.35);
	--color-white-low-25: rgba(255, 255, 255, 0.25);
    --font-myriad: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-rubik: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
}