.about__outer {
    margin: 0 auto;
    max-width: 1100px;
    @include large(margin, 50px auto 0 auto);
    @include tabletSM(max-width, 738px);
}

.about__anim-block {
    position: relative;
    text-align: center;
    @include tabletSM-block {
        display: flex;
        flex-direction: column;
    }
}

.about__svg {
    max-width: 657px;
    @include large(max-width, 450px);
    @include tabletSM(display, none);
}

.about__plunk {
    position: absolute;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    @include tabletSM-block {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
    }
}

.about__plunk:hover .about__text,
.about__plunk:hover .about__svg-dot {
    fill: var(--color-blue);
    color: var(--color-blue);
}

.about__text {
    transition: color .2s ease-in-out;
}

.about__svg-dot {
    transition: fill .2s ease-in-out;
}

.about__plunk--top-left {
    top: 42px;
    left: 28px;
    @include large-block {
        top: 20px;
        left: 110px;
    }
    @include tablet-block {
        top: 21px;
        left: 44px;
    }
}

.about__plunk--bottom-left {
    bottom: 39px;
    left: 10px;
    @include large-block {
        bottom: 23px;
        left: 100px;
    }
    @include tablet-block {
        bottom: 22px;
        left: 33px;
    }
}

.about__plunk--top-right {
    top: 44px;
    right: 203px;
    @include large-block {
        top: 23px;
        right: 260px;
    }
    @include tablet-block {
        right: 188px;
    }
}

.about__plunk--middle-right {
    top: 273px;
    right: 18px;
    @include large-block {
        top: 180px;
        right: 120px;
    }
    @include tablet-block {
        right: 56px;
    }
}

.about__plunk--bottom-right {
    right: 26px;
    bottom: -22px;
    @include large-block {
        bottom: -22px;
        right: 90px;
    }
    @include tablet-block {
        right: 26px;
    }
}

.about__item {
    @include mobileXS(position, relative);
}

.about__item ~ .about__item {
    @include tabletSM(margin-top, 25px);
    @include mobileXS(margin-top, 100px);
}

.about__item:nth-of-type(1) .about__plunk .about__text,
.about__item:nth-of-type(2) .about__plunk .about__text {
    margin-right: 25px;
    order: -1;
    @include tablet-block {
        margin-right: 15px;
    }
    @include tabletSM(order, 0);
}

.about__item:nth-of-type(3) .about__plunk .about__text,
.about__item:nth-of-type(4) .about__plunk .about__text,
.about__item:nth-of-type(5) .about__plunk .about__text {
    margin-left: 25px;
    @include tablet-block {
        margin-left: 15px;
    }
}

.about__item:nth-child(even) {
    @include tabletSM(align-self, flex-start);
    @include mobileXS-block {
        width: 100%;
        text-align: left;
    }
}

.about__item:nth-child(odd) {
    @include tabletSM(align-self, flex-end);
    @include mobileXS-block {
        width: 100%;
        text-align: right;
    }
}

.about__item:nth-child(even) .about__plunk .about__text {
    @include tabletSM(margin-left, 15px);
    @include tabletSM-block {
        margin-right: 15px;
        margin-left: 15px;
        text-align: left;
    }
}

.about__item:nth-child(odd) .about__plunk .about__text {
    @include tabletSM(margin-right, 15px);
    @include tabletSM-block {
        margin-left: 15px;
        margin-right: 15px;
        order: -1;
    }
}

.about__item:nth-child(odd) .about__plate .about__plate-decr {
    @include mobileXS-block {
        text-align: right;
    }
}

.about__svg-dot {
    display: block;
    fill: var(--color-white);
}

.about__plate {
    position: absolute;
    left: 45.5%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    padding: 25px;
    background: rgba(95, 95, 95, 0.05);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    max-width: 390px;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    @include large-block {
        left: 47%;
        padding: 15px;
        max-width: 370px;
    }
    @include tabletSM-block {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
    @include mobileXS-block {
        transform: translate(0, 0);
        height: max-content;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
    }
}

.about__plate-decr {
    margin-top: 30px;
    text-align: left;
    @include large(margin-top, 15px);
}

.about__plate.is-visible {
    opacity: 1;
    visibility: visible;
}