.events__filter {
    display: inline-flex;
    align-items: center;
    margin-bottom: 45px;
    cursor: pointer;
}

.events__fiter-icon {
    margin-left: 30px;
}

.events__fiter-svg {
    display: block;
    margin: 0;
}

.events__item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-white-low-5);
    text-decoration: none;
}

.events__item ~ .events__item {
    margin-top: 15px;
}

.events__inner {
    margin-left: 40px;
    width: 90%;
    @include mobileXS(margin-left, 20px);
}

.events__pic {
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 5px;
}

.events__thumb {
    display: block;
    width: 58px;
    height: 58px;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.events__heading {
    display: flex;
    align-items: center;
    @include mobileXS-block {
        flex-direction: column;
        align-items: flex-start;
    }
}

.events__date {
    margin-left: 25px;
    @include mobileXS-block {
        margin-left: 0;
        margin-top: 15px;
    }
}

.events__excerpt {
    margin-top: 15px;
}

.events__navigation {
    margin-top: 45px;
}

.events__navigation .nav-links .page-numbers {
    display: inline-block;
    text-align: center;
    font-style: inherit;
    background: rgba(141, 141, 141, 0.25);
    color: inherit;
    text-decoration: none;
    width: 45px;
    height: 45px;
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.events__navigation .nav-links .page-numbers.current {
    background: rgba(141, 141, 141, 0.1);
}