.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    overflow-scrolling: touch;
    overflow-y: auto;
    background-color: transparent;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(25px);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition:  visibility .3s ease-in-out, opacity .3s ease-in-out;
    transition-delay: .3s;
    position: fixed;
}

// .modal.is-open-modal {
//     visibility: visible;
//     opacity: 1;
//     position: fixed;
//     transition-delay: 0s;
// }
.modal.hystmodal--active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    transition-delay: 0s;
}



// .modal.is-open .modal__field--anim {
//     opacity: 1;
//     transform: translateX(0);
// }

// .modal__field--anim {
//     opacity: 0;
//     transform: translateX(-100px);
//     transition-property: transform, opacity;
//     transition-duration: 0.3s, 0.3s;
//     transition-timing-function: ease-in-out;
// }

// @for $i from 1 through 10 {
//     .modal.is-open .modal__field--anim {
//         &:nth-child(#{$i}) {
//             transition-delay: $i * (2s / 20);
//         }
//     }
// }



.modal__body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(31, 31, 31, 0.75);
    max-width: 555px;
    width: 100%;
    padding: 50px 35px 28px;
    overflow-x: hidden;
    border-radius: 10px;
    margin-top: 90px;
    @include mobileXS-block {
        padding: 16px 15px 30px;
        max-width: 100%;
    }
}

.modal__close {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal__close-svg {
    width: 30px;
    height: 30px;
    fill: var(--color-white);
    stroke: var(--color-white);
}

.modal__title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal__form {
    font-family: var(--font-rubik);
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
}

.modal__form--steps {
    display: flex;
}

.modal__field ~ .modal__field {
    margin-top: 30px;
}

.modal__field--choice {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    color: var(--color-white-low-35);
}

.modal__field-text {
    margin-bottom: 25px;
}

.modal__field--choice .wpcf7-list-item {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
}

.modal__field--choice .wpcf7-list-item input {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-white-low-45);
    transition: border .2s ease-in-out;
    outline: none;
}

.modal__field--choice .wpcf7-list-item input:checked,
.modal__field--choice .wpcf7-list-item input:focus,
.modal__field--choice .wpcf7-list-item input:target,
.modal__field--choice .wpcf7-list-item input:hover {
    border: 6px solid var(--color-blue-low-75);
}

.modal__field--choice .wpcf7-list-item-label {
    margin-left: 20px;
}

.modal__field--choice .wpcf7-list-item ~ .wpcf7-list-item {
    margin-top: 25px;
}

.modal__select .ss-single-selected {
    height: auto;
}

.modal__select .ss-single-selected {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    width: 100%;
    padding: 18px 15px;
    background: rgba(141, 141, 141, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.04);
    color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.modal__select .ss-content {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.modal__select .ss-content,
.modal__select .ss-content .ss-list {
    border-radius: 0 0 10px 10px;
}

.modal__select .ss-content,
.modal__select .ss-content .ss-list,
.modal__select .ss-content .ss-list .ss-option {
    background: rgba(71, 71, 71, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.04);
    color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(55px);
    transition: background .2s ease-in-out;
}

.modal__select .ss-content .ss-list .ss-option {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 18px 15px;
}

.modal__select .ss-content .ss-list .ss-option:hover {
    background: rgba(71, 71, 71, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 18px 15px;
}

.modal__select .ss-content .ss-list .ss-option:last-child {
    border-bottom: 1px solid transparent;
}

.modal__input {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    width: 100%;
    padding: 18px 15px;
    background: rgba(141, 141, 141, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.04);
    color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.modal__input:focus,
.modal__input:target,
.modal__input:active {
    outline: 1px solid var(--color-blue);
    border: 1px solid var(--color-blue);
}

.modal__input::placeholder {
    color: rgba(255, 255, 255, 0.35);
}

.modal__actions {
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.modal__policy {
    margin-top: 20px;
    color: var(--color-white-low-45);
}

.modal__link-policy {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--color-blue);
}

.modal__actions .wpcf7-spinner {
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    opacity: 1;
    width: 20px;
    height: 20px;
    @include mobileXS-block {
        margin: 0 10px;
    }
    @include mobileXSS-block {
        margin: 0 4px;
    }
}

.modal__actions .wpcf7-spinner:before {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 3px solid var(--color-green-light);
    border-top: 3px solid #595959;
    transform-origin: center;
    animation: rotate 1s infinite linear;
}

.modal .wpcf7 form .wpcf7-response-output {
    font-family: var(--font-rubik);
    font-size: responsive 14px 16px;
    font-range: 768px 1024px;
    margin: 20px 0 0;
    padding: 15px 1em;
    border: 2px solid var(--color-yellow);
    color: var(--color-dark-gray);
}

.modal .wpcf7 form.invalid .wpcf7-response-output, 
.modal .wpcf7 form.unaccepted .wpcf7-response-output {
    border: 1px solid var(--color-yellow);
}

.modal__form .wpcf7-not-valid-tip {
    text-align: center;
    font-family: var(--font-rubik);
    font-size: 12px;
    margin-top: 5px;
    color: var(--color-invalid);
}