.main-slider__info {
    display: grid;
    grid-template-columns:  minmax(280px, 420px) minmax(500px, 1fr);
    @include tablet-block {
        grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    }
    @include mobile-block {
        grid-template-columns: 1fr;
    }
}

.main-slider__slide-pic {
    @include tablet(padding-top, 90px);
    @include mobileXS(padding-top, 60px);
}

.main-slider__slide-img {
    display: block;
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
    @include tablet(height, 50vh);
    @include mobileXS(height, 34vh);
}

.main-slider__inner-info {
    width: 100%;
    max-width: 1920px;
    @include tablet(order, 1);
}

.main-slider__info-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.35), rgba(18, 18, 18, 0.35));
    backdrop-filter: blur(55px);
    height: 100%;
    @include tablet(padding, 30px);
    @include mobile(padding, 30px 15px);
    @include mobileXS(padding, 30px 10px);
}

.main-slider__header {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.main-slider__heading {
    margin-bottom: 25px;
}

.main-slider__text {
    margin-top: 25px;
}

.main-slider__place {
    margin-top: 25px;
}

.main-slider__date {
    margin-top: 15px;
}

.main-slider__time {
    margin-top: 10px;
}

.main-slider__pagination {
    margin-top: 25px;
    position: absolute;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    @include mobile-block {
        right: 15px;
    }
}

.main-slider__bullet {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid var(--color-white);
    backdrop-filter: blur(55px);
    transform: scale(1);
    transition: border .2s ease-in-out, transform .2s ease-in-out;
}

.main-slider__bullet:hover {
    background: rgba(31, 31, 31, 0.25);
    transform: scale(1.2);
    cursor: pointer;
}

.main-slider__bullet--active {
    background: rgba(31, 31, 31, 0.25);
}

.main-slider__bullet ~ .main-slider__bullet {
    margin-top: 10px;
}