.main-slider__info {
    position: relative;
}

.main-slider__slide-pic {
    position: relative;
}

.main-slider__slide-pic::before {
    content: '';
    position: absolute;
    background: rgba(18, 18, 18, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.main-slider__slide-img {
    display: block;
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
    @include mobileXS(height, calc(100vh - 60px));
}

.main-slider__inner-info {
    width: 100%;
}

.main-slider__info-wrapp {
    position: absolute;
    left: auto;
    bottom: 45px;
    padding: 25px;
    margin-left: -25px;
    max-width: 1200px;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.35), rgba(18, 18, 18, 0.35));
    backdrop-filter: blur(45px);
    border-radius: 10px;
    z-index: 101;
    @include tablet-block {
        right: 30px;
        left: 30px;
        bottom: 30px;
    }
}

.main-slider__header {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.main-slider__header,
.main-slider__text {
    position: relative;
    z-index: 10;
}

.main-slider__heading {
    margin-bottom: 15px;
}

.main-slider__text {
    margin-top: 30px;
}

.main-slider__date {
    margin-top: 20px;
}

.main-slider__time {
    margin-top: 10px;
}

.main-slider__pagination {
    margin-top: 25px;
    position: absolute;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    @include mobile-block {
        right: 15px;
    }
}

.main-slider__bullet {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid var(--color-white);
    backdrop-filter: blur(55px);
    transform: scale(1);
    transition: border .2s ease-in-out, transform .2s ease-in-out;
}

.main-slider__bullet:hover {
    background: rgba(31, 31, 31, 0.25);
    transform: scale(1.2);
    cursor: pointer;
}

.main-slider__bullet--active {
    background: rgba(31, 31, 31, 0.25);
}

.main-slider__bullet ~ .main-slider__bullet {
    margin-top: 10px;
}