.event-screen__img {
    display: block;
    margin: 0;
    max-height: 908px;
    width: 100%;
    height: 100%;
}

.event-screen__outer {
    background: rgba(31, 31, 31, 1);
    backdrop-filter: blur(45px);
    margin-top: -150px;
    padding-bottom: 30px;
}

.event-screen__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-white-low-25);
    padding: 40px 0 30px;
    margin-bottom: 40px;
}

.event-screen__action {
    margin-left: 30px;
}

.event-screen__location,
.event-screen__add-info {
    margin-bottom: 20px;
}