.event-screen__img {
    display: block;
    margin: 0;
    max-height: 680px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.event-screen__outer {
    background: rgba(31, 31, 31, 1);
    backdrop-filter: blur(45px);
    padding-bottom: 30px;
}

.event-screen__head {
    border-bottom: 1px solid var(--color-white-low-25);
    padding: 40px 0 30px;
    margin-bottom: 40px;
}

.event-screen__action {
    margin-top: 30px;
}

.event-screen__location,
.event-screen__add-info {
    margin-bottom: 20px;
}