.filter-popup {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    z-index: 3000;
    display: none;
    @include mobileXS(padding, 5px);
}

.filter-popup__wrapp {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 18px 25px 31px;
    max-width: 1024px;
    width: 100%;
    @include mobileXS(padding, 18px 20px 25px);
}

.filter-popup__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    @include mobileXS-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }
}

.filter-popup__top-left {
    display: flex;
    align-items: center;
    @include mobileXS-block {
        margin-top: 30px;
        justify-content: space-between;
        width: 100%;
    }
}

.filter-popup__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
    @include mobileXS(margin-right, 15px);
}

.filter-popup__clear-svg {
    display: block;
    fill: rgba(255, 255, 255, .25);
}

.filter-popup__clear-name {
    margin-right: 15px;
    white-space: nowrap;
    @include mobileXS(margin-right, 10px);
}

.filter-popup__close {
    display: flex;
    align-items: center;
    @include mobileXS-block {
        order: -1;
        justify-content: space-between;
        width: 100%;
    }
}

.filter-popup__close-title {
    margin-right: 25px;
}

.filter-popup__close-svg {
    display: block;
    cursor: pointer;
}

.filter-popup__content {
    display: flex;
    margin-bottom: 50px;
    @include mobileXS-block {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.filter-popup__content>div:not(:last-child) {
    margin-right: 60px;
    @include mobileXS-block {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.filter-popup__field:not(:last-child) {
    margin-bottom: 30px;
}

.filter-popup__field {
    cursor: pointer;
}

.filter-popup__label {
    display: flex;
    align-items: center;
}

.filter-popup__field .filter-popup__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-popup__field .filter-popup__input+.filter-popup__label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    border: rgba(141, 141, 141, 0.1);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px auto;
    background-color: #8D8D8D;
}

.filter-popup__field .filter-popup__input:checked+.filter-popup__label::before {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  background-image: url("../img/icons/check.png");
}

.filter-popup__select.ss-main {
    @include mobileXS(width, auto);
}

.filter-popup__select .ss-single-selected {
    height: auto;
}

.filter-popup__select.ss-main .ss-single-selected .placeholder {
    margin-right: 5px;
}

.filter-popup__select .ss-single-selected {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    width: 100%;
    min-width: 180px;
    padding: 15px 30px;
    background: var(--color-dark);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: var(--color-white-low-45);
    border-radius: 10px;
}

.filter-popup__select .ss-content {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.filter-popup__select .ss-content,
.filter-popup__select .ss-content .ss-list {
    border-radius: 0 0 10px 10px;
}

.filter-popup__select .ss-content,
.filter-popup__select .ss-content .ss-list,
.filter-popup__select .ss-content .ss-list .ss-option {
    background: #2C2C2C;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: var(--color-white-low-45);
    backdrop-filter: blur(55px);
    transition: color .2s ease-in-out;
}

.filter-popup__select .ss-content .ss-list .ss-option {
    border-bottom: 1px solid rgba(18, 18, 18, 0.1);
    padding: 13px 31px;
}

.filter-popup__select .ss-content .ss-list .ss-option:hover {
    color: var(--color-blue);
    border-bottom: 1px solid rgba(18, 18, 18, 0.1);
}

.filter-popup__select .ss-content .ss-list .ss-option:last-child {
    border-bottom: 1px solid transparent;
}