.targets__item {
    position: relative;
    cursor: pointer;
    padding: 25px 25px 25px 45px;
    border-bottom: 1px solid var(--color-black-low);
    background: transparent;
    transition: background .2s ease-in-out;
    @include mobileXS(padding, 25px 15px);
}

.targets__item:hover {
    background: rgba(31, 31, 31, 0.6);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    border-bottom: 1px solid transparent;
}

.targets__item ~ .targets__item {
    margin-top: 10px;
}

.targets__headline {
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: color .1s ease-in-out;
}

.targets__icon {
    margin-right: 15px;
}

.targets__svg-icon {
    display: block;
}

.targets__svg-path--color-fill,
.targets__svg-path--color-strike {
    transition: fill .1s ease-in-out, stroke .1s ease-in-out;
}

.targets__svg-path--color-fill {
    fill: var(--color-white);
}

.targets__svg-path--color-stroke {
    stroke: var(--color-white);
}

.targets__item:hover .targets__svg-path--color-fill {
    fill: var(--color-blue);
}

.targets__item:hover .targets__svg-path--color-stroke {
    stroke: var(--color-blue);
}

.targets__headline {
    width: 100%;
}